* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    min-height: 80vh;
    background: url('./01.jpg');
    position: relative;
}
header h1 {
    text-align: center;
    position: absolute;
    top: 40%;
    right: 40%;
    left: 40%;
    font-weight: bold;
    font-size: 2rem;
}
.sliderDots li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
}